Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-WTF==1.2.1
PyMySQL==1.1.1
python-dotenv==1.0.1
email-validator==2.2.0
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1
matplotlib==3.9.1.post1
plotly==5.23.0
statsmodels==0.14.2
joblib==1.4.2
openpyxl==3.1.5
reportlab==4.2.2
Werkzeug==3.0.3
